.pointer {
  cursor: pointer;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}